<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>CFBundleDocumentTypes</key>
		<array>
			<dict>
				<key>CFBundleTypeExtensions</key>
				<array>
					<string>mov</string>
					<string>MOV</string>
				</array>
				<key>CFBundleTypeMIMETypes</key>
				<array>
					<string>video/quicktime</string>
				</array>
				<key>CFBundleTypeName</key>
				<string>MOV</string>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>LSHandlerRank</key>
				<string>Alternate</string>
				<key>LSItemContentTypes</key>
				<array>
					<string>com.apple.quicktime-movie</string>
				</array>
				<key>LSTypeIsPackage</key>
				<false/>
				<key>NSPersistentStoreTypeKey</key>
				<string>Binary</string>
			</dict>
			<dict>
				<key>CFBundleTypeExtensions</key>
				<array>
					<string>mp4</string>
					<string>MP4</string>
				</array>
				<key>CFBundleTypeMIMETypes</key>
				<array>
					<string>video/mp4</string>
				</array>
				<key>CFBundleTypeName</key>
				<string>MP4</string>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>LSHandlerRank</key>
				<string>Alternate</string>
				<key>LSItemContentTypes</key>
				<array>
					<string>public.mpeg-4</string>
				</array>
				<key>LSTypeIsPackage</key>
				<false/>
				<key>NSPersistentStoreTypeKey</key>
				<string>Binary</string>
			</dict>
			<dict>
				<key>CFBundleTypeExtensions</key>
				<array>
					<string>gif</string>
					<string>GIF</string>
				</array>
				<key>CFBundleTypeMIMETypes</key>
				<array>
					<string>image/gif</string>
				</array>
				<key>CFBundleTypeName</key>
				<string>GIF</string>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>LSHandlerRank</key>
				<string>Alternate</string>
				<key>LSItemContentTypes</key>
				<array>
					<string>com.compuserve.gif</string>
				</array>
				<key>LSTypeIsPackage</key>
				<false/>
				<key>NSPersistentStoreTypeKey</key>
				<string>Binary</string>
			</dict>
			<dict>
				<key>CFBundleTypeExtensions</key>
				<array>
					<string>png</string>
					<string>PNG</string>
				</array>
				<key>CFBundleTypeMIMETypes</key>
				<array>
					<string>image/png</string>
				</array>
				<key>CFBundleTypeName</key>
				<string>PNG</string>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>LSHandlerRank</key>
				<string>Alternate</string>
				<key>LSItemContentTypes</key>
				<array>
					<string>public.png</string>
				</array>
				<key>LSTypeIsPackage</key>
				<false/>
				<key>NSPersistentStoreTypeKey</key>
				<string>Binary</string>
			</dict>
			<dict>
				<key>CFBundleTypeExtensions</key>
				<array>
					<string>jpeg</string>
					<string>jpg</string>
					<string>JPG</string>
					<string>JPEG</string>
				</array>
				<key>CFBundleTypeMIMETypes</key>
				<array>
					<string>image/jpeg</string>
					<string>image/pjpeg</string>
				</array>
				<key>CFBundleTypeName</key>
				<string>JPEG</string>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>LSHandlerRank</key>
				<string>Alternate</string>
				<key>LSItemContentTypes</key>
				<array>
					<string>public.jpeg</string>
				</array>
				<key>LSTypeIsPackage</key>
				<false/>
				<key>NSPersistentStoreTypeKey</key>
				<string>Binary</string>
			</dict>
			<dict>
				<key>CFBundleTypeName</key>
				<string>Folder</string>
				<key>CFBundleTypeRole</key>
				<string>Editor</string>
				<key>LSHandlerRank</key>
				<string>Alternate</string>
				<key>LSItemContentTypes</key>
				<array>
					<string>public.folder</string>
				</array>
				<key>LSTypeIsPackage</key>
				<false/>
				<key>NSPersistentStoreTypeKey</key>
				<string>Binary</string>
			</dict>
		</array>
		<key>MDItemKeywords</key>
		<array>
			<string>screenshot</string>
			<string>screen recording</string>
			<string>optimize images</string>
			<string>optimize screenshots</string>
			<string>optimize videos</string>
			<string>optimize clipboard</string>
			<string>optimize pdf</string>
			<string>optimise images</string>
			<string>optimise screenshots</string>
			<string>optimise videos</string>
			<string>optimise clipboard</string>
			<string>optimise pdf</string>
			<string>compress videos</string>
			<string>compress images</string>
			<string>compress pdf</string>
			<string>resize videos</string>
			<string>resize images</string>
			<string>resize pdf</string>
			<string>crop videos</string>
			<string>crop images</string>
			<string>crop pdf</string>
			<string>upload screenshots</string>
			<string>reencode videos</string>
			<string>convert video to gif</string>
			<string>convert mov to mp4</string>
			<string>convert webp to png</string>
			<string>convert heic to jpeg</string>
		</array>
		<key>NSAppTransportSecurity</key>
		<dict>
			<key>NSAllowsArbitraryLoads</key>
			<true/>
		</dict>
		<key>LSUIElement</key>
		<true/>
		<key>NSPrincipalClass</key>
		<string>SentryCrashExceptionApplication</string>
		<key>SUFeedURL</key>
		<string>https://files.lowtechguys.com/clop/appcast.xml</string>
		<key>SUPublicEDKey</key>
		<string>lqnO6tg2A9evTIFo2SC9ArZ6NS84gtBshcAWdwh12xQ=</string>

		<key>NSServices</key>
		<array>
			<dict>
				<key>NSMenuItem</key>
				<dict>
					<key>default</key>
					<string>Strip EXIF Metadata</string>
				</dict>
				<key>NSMessage</key>
				<string>stripEXIFService</string>
				<key>NSPortName</key>
				<string>Clop</string>
				<key>NSRequiredContext</key>
				<dict/>
				<key>NSReturnTypes</key>
				<array/>
				<key>NSSendFileTypes</key>
				<array>
					<string>public.png</string>
					<string>public.jpeg</string>
					<string>com.compuserve.gif</string>
					<string>org.webmproject.webp</string>
					<string>public.avif</string>
					<string>public.tiff</string>
					<string>public.movie</string>
					<string>public.video</string>
				</array>
				<key>NSSendTypes</key>
				<array>
					<string>public.png</string>
					<string>public.jpeg</string>
					<string>com.compuserve.gif</string>
					<string>org.webmproject.webp</string>
					<string>public.avif</string>
					<string>public.tiff</string>
					<string>public.movie</string>
					<string>public.video</string>
				</array>
			</dict>
			<dict>
				<key>NSKeyEquivalent</key>
				<dict>
					<key>default</key>
					<string>^O</string>
				</dict>
				<key>NSMenuItem</key>
				<dict>
					<key>default</key>
					<string>Optimise with Clop</string>
				</dict>
				<key>NSMessage</key>
				<string>optimisationService</string>
				<key>NSPortName</key>
				<string>Clop</string>
				<key>NSRequiredContext</key>
				<dict/>
				<key>NSReturnTypes</key>
				<array/>
				<key>NSSendFileTypes</key>
				<array>
					<string>public.image</string>
					<string>public.movie</string>
					<string>public.video</string>
					<string>public.pdf</string>
				</array>
				<key>NSSendTypes</key>
				<array>
					<string>public.image</string>
					<string>public.movie</string>
					<string>public.video</string>
					<string>public.pdf</string>
				</array>
			</dict>
			<dict>
				<key>NSKeyEquivalent</key>
				<dict>
					<key>default</key>
					<string>^O</string>
				</dict>
				<key>NSMenuItem</key>
				<dict>
					<key>default</key>
					<string>Optimise with Clop</string>
				</dict>
				<key>NSMessage</key>
				<string>optimisationService</string>
				<key>NSPortName</key>
				<string>Clop</string>
				<key>NSRequiredContext</key>
				<dict>
					<key>NSServiceCategory</key>
					<string>public.text</string>
					<key>NSTextContent</key>
					<array>
						<string>URL</string>
						<string>FilePath</string>
					</array>
				</dict>
				<key>NSReturnTypes</key>
				<array/>
				<key>NSSendFileTypes</key>
				<array>
					<string>public.plain-text</string>
					<string>com.apple.rtf</string>
					<string>com.apple.rtfd</string>
					<string>com.apple.flat-rtfd</string>
					<string>NSStringPboardType</string>
					<string>NSRTFPboardType</string>
					<string>NSRTFDPboardType</string>
				</array>
				<key>NSSendTypes</key>
				<array>
					<string>public.plain-text</string>
					<string>com.apple.rtf</string>
					<string>com.apple.rtfd</string>
					<string>com.apple.flat-rtfd</string>
					<string>NSStringPboardType</string>
					<string>NSRTFPboardType</string>
					<string>NSRTFDPboardType</string>
				</array>
			</dict>
		</array>
	</dict>
</plist>
